:root {
    --primary: hsl(135, 46%, 55%, .80);
    --secondary: hsl(261, 61%, 69%, .70);
    --tertiary: hsl(261, 67%, 45%, .70);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}

.hero {
    height: 100vh;
    background: linear-gradient(to right, var(--secondary), var(--tertiary)),
    url("./images/hero_background2.jpg") bottom/cover;
    position: relative;
    
}

.hero-text {
    color: #fff;
    font-size: 4.5rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

